@import url('https://fonts.googleapis.com/css?family=ABeeZee');
body {
    font-family: "ABeeZee", sans-serif;
    margin-bottom: 5%;
}
html {
    position: relative;
    min-height: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  /* Forces material icons to be inline, not sure why i need to force it*/
  .inline-icon {
    display:inline-flex;
    vertical-align:top;
 }

 a:link{
    text-decoration: none !important;
  }

 .inline-icon-small {
    display:inline-flex;
    vertical-align:top;
    font-size: 8px;
 }

 .inline-icon-lg {
    display:inline-flex;
    vertical-align:top;
    font-size: 36px;
 }

 .footerlayer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding-bottom: .5%;
    padding-top: 0.5%;
    text-align: center;
    margin-top: 5%;
 }

 .footerlayer a {
     margin-left: 5%;
     margin-right: 5%;
     color: aliceblue;
 }

 .footerlayer a:hover {
      color: gainsboro;
 }

 .show-pointer {
    cursor: pointer;
 }


 #index-image-left {
     display: inline-flexbox;
     margin-left: 40%;
     margin-top: 5%;
     border-radius: 2%;

    width: 50%;
 }

 #index-image-left-description {
    margin-top: 5%;
    border-radius: 2%;
    margin-right: 15%;

    text-align: center;
}

#index-image-right-description {
  margin-top: 10%;
  border-radius: 2%;
  margin-left: 15%;
  margin-bottom: 10%;

  text-align: center;
}

 #index-image-right {
    display: inline-flexbox;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 2%;
    margin-right: 40%;
    width: 50%;
}

 #register-login-body {
     margin-top: 15%;
     border: 2px solid blue;
 }

 #herolayer {
     padding-bottom: 5%;
     padding-top: 5%;
     background-color: blue;
 }

 #signin-div {
    margin: auto;
    height: 50%;
    width: 50%;
    padding: 100px;
}

#userHome-div {
  margin: auto;
  height: 50%;
  width: 50%;
  padding: 100px;
}

#userHome-block {
  align-self: center;
   margin-top: 1%;
   margin-left: 10%;
   padding: 2%;
   height: fit-content;
   width: fit-content;
  border-radius: 1%;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  border: 1px solid lightgrey;
}

#signin-block {
    align-self: center;
     margin-top: 1%;
     margin-left: 10%;
     padding: 2%;
     height: fit-content;
     width: fit-content;
    border-radius: 1%;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
    border: 1px solid lightgrey;
}


 #herolayer-signin {
    background-color: blue;
     margin-top: 1%;
     margin-left: 10%;
     padding: 2%;
     height: 250px;
     width: 500px;
    border-radius: 1%;
    background-color: aliceblue;
    box-shadow: 3px 3px rgba(0,0,0,0.3);
}

#herolayer-image {
    height: 25%;
    display: inline-flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
}

#herolayer-description {
    padding-top: 10%;
    color: aliceblue
}

 body {
     background-color: aliceblue;
 }

 #alert-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

  .center {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #alert-overlay-box {
    padding: 1%;
    margin-top: 15%;
    border-radius: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    opacity: 95%;
    height: auto;
    width: 25%;
  }

  #signingIn {
      align-items: center;
      text-align: center;
      align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /*
Loading circle
  */

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid blue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: blue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  

